<div class="container-fluid">

  <h2 class="Sign">Sign in as</h2>
  <div class="main-container">

    <div class="Signdiv">
        <button routerLink="addproduct" class="adminsign">
            <img src="../../../assets/Vector (1).png" alt="">
            <span>Admin</span>
    <!-- <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input"> -->
        </button>
        <button routerLink="productdisplay" class="usersign">
            <img src="../../../assets/Vector (2).png" alt="">
            <span>Login</span>
            <!-- <input class="form-check-input ml-9" type="checkbox" value="" aria-label="Checkbox for following text input"> -->
        </button>
    </div>
    <div class="containerImage">
        <img src="../../../assets/Vector 176.png" alt="">
    </div>
</div>
</div>