span{
    margin-left: 10px;
    align-items: center;
    font-weight: 600;
    font-family: Poppins;
    margin-bottom: 50px;
}
.main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Sign{
    color: var(--gray-900, #212121);
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 74px;
    margin-left: 10px;
}
@media (max-width:390px){
    .Sign{
        text-align: center;
    }
}
.Signdiv{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    margin-top: 50px;
}
.adminsign{
    display: flex;
    min-width: 350px;
    height: 70px;  
    margin-left: 30px;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    padding-top: 10px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    background: #FFF;
}
.usersign{
    display: flex;
    min-width: 350px;
    height: 70px;  
    margin-left: 30px;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    padding-top: 10px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    background: #FFF;
}
.containerImage{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    margin-left: 80px;
    margin-top: 10px;
    margin-right: 50px;
}
.containerImage img{
    max-height: 350px;
}
button:hover{
    background-color: lightblue;
}