<div class="container-fluid">
    <div class="heading">
    <h2 class="addheading">{{ isEditing ? 'Edit Product' : 'Add Product' }}</h2>
</div>
<div class="main-container">
    <form [formGroup]="myform" (ngSubmit)="saveProduct()" class="formdiv row">
        <div class="col-md-6">
            <label for="">Name</label>
            <input type="text" value="" formControlName="name" [(ngModel)]="product.name" placeholder="" class="form-control"
            [ngClass]="{'is-invalid':submit&&f.name.errors}"
            >
            <div *ngIf="submit&&f.name.errors" class="invalid-feedback errorsdiv">
                <div *ngIf="f.name.errors.required">Required</div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="">Gender</label>
            <select name="gender" value="" formControlName="gender" [(ngModel)]="product.gender" class="form-select" 
            [ngClass]="{'is-invalid':submit&&f.gender.errors}"
            >
                <option selected disabled>Gender</option>
                <option >Male</option>
                <option >Female</option>
              </select>
              <div *ngIf="submit&&f.gender.errors" class="invalid-feedback errorsdiv">
                <div *ngIf="f.gender.errors.required">Required</div>
            </div>  
          </div>

          <div class="col-md-6">
            <label for="">Price</label>
            <input  name="price" value="" formControlName="price" [(ngModel)]="product.price" type="number" placeholder="" class="form-control"
            [ngClass]="{'is-invalid':submit&&f.price.errors}"
            >
            <div *ngIf="submit&&f.price.errors" class="invalid-feedback errorsdiv">
                <div *ngIf="f.price.errors.required">Required</div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="">Currency</label>
            <select  formControlName="currency"  value="" [(ngModel)]="product.currency" class="form-select" 
            [ngClass]="{'is-invalid':submit&&f.currency.errors}"
            >
                <option selected disabled>Currency</option>
                <option>₹</option>
                <option>$</option>
                <option>€</option>
                <option>£</option>
            </select>
            <div *ngIf="submit&&f.currency.errors" class="invalid-feedback errorsdiv">
                <div *ngIf="f.currency.errors.required">Required</div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="">Color</label>
            <input  name="color" value="" formControlName="color" [(ngModel)]="product.color" type="text" placeholder="" class="form-control"
            [ngClass]="{'is-invalid':submit&&f.color.errors}"
            >
            <div *ngIf="submit&&f.color.errors" class="invalid-feedback errorsdiv">
                <div *ngIf="f.color.errors.required">Required</div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="">Quantity</label>
            <input  name="quantity" formControlName="quantity" value="" [(ngModel)]="product.quantity" type="number" placeholder="" class="form-control"
            [ngClass]="{'is-invalid':submit&&f.quantity.errors}"
            >
            <div *ngIf="submit&&f.quantity.errors" class="invalid-feedback errorsdiv">
                <div *ngIf="f.quantity.errors.required">Required</div>
            </div>
          </div>
          <div class="col-md-6">
                <!-- <label class="form-label text-white m-1 choose" for="customFile1">Choose file</label> -->
                <!-- <input type="file" name="image" [(ngModel)]="product.image" value="" class="form-control" id="customFile1" -->
                <input  name="image" formControlName="image" value="" [(ngModel)]="product.image" type="file" placeholder="" class="form-control"
                [ngClass]="{'is-invalid':submit&&f.image.errors}"
                >
                <div *ngIf="submit&&f.image.errors" class="invalid-feedback errorsdiv">
                    <div *ngIf="f.image.errors.required">Required</div>
                </div>
            </div>        
          <div class="buttons">
            <button (click)="handleReset()" class="btn btn-light">Reset</button>
            <button type="submit" class="btn btn-dark">Save</button>
        </div>
    </form>
    <div class="containerImage">
        <div class="float-end">
        <button routerLink="/productlist" class="btn btn-dark gotobtn">Go To Product Listing Page</button>
    </div>
    <img src="../../../assets/Vector 176.png" alt="">
    </div>  
</div>
</div>