
<footer class="footer mt-auto">
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <!-- Left side content (Terms and Conditions) -->
          <div class="text-left">
            <p>2023@copyright</p>
          </div>
        </div>
        <div class="col-md-4">
          <!-- Center content (Copyright and Image) -->
          <div class="text-center">
            <img src="../../../assets/Vector.png" alt="Your Logo">
          </div>
        </div>
        <div class="col-md-4">
          <!-- Right side content (Privacy Policy) -->
          <div class="text-right">
            <a href="">Terms and Conditions</a>
            <a href="#">Privacy Policy</a>
          </div>
        </div>
      </div>
    </div>
  </footer>