
<div class="container">
  
<div class="tableone" >
    <table class="table table-bordered" style="min-width: 700px;" >
        <thead>
          <tr class="table-active">
            <th scope="col"></th>
            <th scope="col">PRODUCT</th>
            <th scope="col">PRICE</th>
            <th scope="col">QUANTITY</th>
            <th scope="col">TOTAL</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of clickedProducts">
          <tr>
            <th scope="row"><i style="cursor: pointer;" (click)="cancelcart(item)" class="fa-solid fa-xmark"></i></th>
            <td>{{item.name}}</td>
            <td class="text-success">{{item.currency}}{{item.price}}</td>
            <td>
              <button class="counterbtn" (click)="handleDecrease(item)">-</button>
              {{item.quantity}}
              <button class="counterbtn" (click)="handleIncrease(item)">+</button>
            </td>
            <td class="text-success">{{item.currency}}{{item.price*item.quantity}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tabletwo">
      <table class="table table-bordered" style="min-width: 400px;" >
        <thead>
          <tr class="table-active">
            <th scope="col">Card totals</th>
            <th></th>
          </tr>
        </thead>
        <tbody  >
          <tr *ngIf="clickedProducts">
            <th>Sub total</th>
            <td class="text-success">{{carttotal|currency:'INR'}}</td>   
          </tr>
        </tbody>
        <tbody >
          <tr *ngIf="clickedProducts" >
            <th>Total</th>
            <td class="text-success">{{carttotal|currency: 'INR'}}</td>   
          </tr>
        </tbody>
      </table>
      <button style="min-width: 400px;" class="btn btn-primary">PROCEED TO CHECKOUT</button>
    </div> 
  </div>
      <!-- <div class="alert alert-info" *ngIf="cartItems.length==0">Your cart is empty!</div> -->
