.tableone{
    margin-left: 0px;
    margin-top: 50px;
}
.tabletwo{ 
    margin-right: 50px;
    margin-left: 20px;
    margin-top: 50px;
}
.container{
    display: flex;
    justify-content: space-between;
}
.counterbtn{
    border: none;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
}