<div class="container mt-4">
    <div class="float-end mb-3">
        <button routerLink="/addproduct" class="btn btn-dark">Add Product</button>
    </div>
<table class="table table-bordered">
    <thead>
        <tr>
          <th scope="col">Sl no.</th>
          <th scope="col">Name</th>
          <th scope="col">Gender</th>
          <th scope="col">Price</th>
          <th scope="col">Currency</th>
          <th scope="col">Quantity</th>
          <th scope="col">Image</th>
          <th scope="col">Color</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let product of savedProducts;let i=index" >
        <tr>
          <th scope="row" key="">{{i+1}}</th>
          <td>
            <div *ngIf="product.isEdit">
              <input type="text" [(ngModel)]="product.name" class="form-control">
            </div>
            <div *ngIf="!product.isEdit">
            {{product.name}}
          </div>
          </td>
          <td>{{product.gender}}</td>
          <td>{{product.price}}</td>
          <td>{{product.currency}}</td>
          <td>{{product.quantity}}</td>
          <td>{{product.image}}</td>
          <td>{{product.color}}</td>
          <td>
            <div class="actionbtn">
            <button style="border: none;" (click)="deleteProduct(savedProducts)"><img src="../../../assets/Group 1508.png" alt=""></button>
            <button style="border: none;" (click)="editProduct(product)"> <img src="../../../assets/Group 1507.png" alt=""></button>
            </div>
          </td>
        </tr>
    </tbody>
  </table>
</div>